* {
  transition: background-color 0.3s ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-labelle: "La Belle Aurore", "cursive";
}

html {
  scroll-behavior: smooth;
}

body.theme-light {
  --background: 250, 250, 252;
  --background-tint: 243, 243, 247;

  --foreground: 55, 55, 55;
  /* Primary */
  --primary-50: 234, 234, 239;
  --primary-100: 203, 203, 215;
  --primary-200: 168, 168, 188;
  --primary-300: 133, 133, 161;
  --primary-400: 106, 106, 140;
  --primary-500: 80, 80, 120;
  --primary-600: 73, 73, 112;
  --primary-700: 64, 64, 101;
  --primary-800: 55, 55, 91;
  --primary-900: 39, 39, 72;
}

body.theme-dark {
  --background: 14, 20, 29;
  --background-tint: 18, 28, 40;

  --foreground: 250, 250, 250;
  /* Primary */
  --primary-50: 241, 248, 252;
  --primary-100: 220, 238, 248;
  --primary-200: 197, 227, 244;
  --primary-300: 173, 215, 239;
  --primary-400: 156, 207, 235;
  --primary-500: 138, 198, 232;
  --primary-600: 130, 192, 229;
  --primary-700: 119, 185, 226;
  --primary-800: 109, 177, 222;
  --primary-900: 90, 164, 216;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  overflow-x: hidden;
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
  background: rgb(var(--background));
}


h1,
h2,
h3,
h4 {
  margin: 0.2rem auto;
  font-family: var(--font-sans);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-labelle {
  font-family: var(--font-labelle);
}

.text-background {
  color: rgb(var(--background));
}

.text-foreground {
  color: rgb(var(--foreground));
}

.text-primary-50 {
  color: rgb(var(--primary-50));
}

.text-primary-100 {
  color: rgb(var(--primary-100));
}

.text-primary-200 {
  color: rgb(var(--primary-200));
}

.text-primary-300 {
  color: rgb(var(--primary-300));
}

.text-primary-400 {
  color: rgb(var(--primary-400));
}

.text-primary,
.text-primary-500 {
  color: rgb(var(--primary-500));
}

.text-primary-600 {
  color: rgb(var(--primary-600));
}

.text-primary-700 {
  color: rgb(var(--primary-700));
}

.text-primary-800 {
  color: rgb(var(--primary-800));
}

.text-primary-900 {
  color: rgb(var(--primary-900));
}

.container {
  margin: auto;
  max-width: 1060px;
}

.container .row {
  margin: auto 1rem;
}

small {
  font-size: 80%;
  font-weight: 400;
}

a.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.8rem 1.2rem;
  font-family: var(--font-mono);
  color: rgb(var(--foreground));
  background-color: transparent;
  transition: background-color 0.2s ease;
  border: 1px solid rgb(var(--foreground));
}

a.btn:hover {
  outline: none;
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
}

a.btn-primary {
  color: rgb(var(--primary-500));
  border: 1px solid rgb(var(--primary-500));
}

a.btn-primary:hover {
  color: rgb(var(--background));
  background-color: rgb(var(--primary-500));
}

.text-center {
  text-align: center;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.rounded {
  border-radius: 0.25rem;
}

.overflow-hidden {
  overflow: hidden;
}